@model MLTAscend.MVC.Models.UpUser

@{
  ViewData["Title"] = "SignUp";
}

<div class="box">
  @using (Html.BeginForm("SignUp", "User"))
  {
    <div class="field">
      @Html.LabelFor(m => m.Name, "Name", new { @class = "label" })
      <div class="control">
        @Html.TextBoxFor(m => m.Name, new { @class = "input" })
      </div>
    </div>
    <div class="field">
      @Html.LabelFor(m => m.Username, "Username", new { @class = "label" })
      <div class="control">
        @Html.TextBoxFor(m => m.Username, new { @class = "input" })
      </div>
    </div>
    <div class="field">
      @Html.LabelFor(m => m.Password, "Password", new { @class = "label" })
      <div class="control">
        @Html.PasswordFor(m => m.Password, new { @class = "input" })
      </div>
    </div>
    <div class="field">
      @Html.LabelFor(m => m.Confirm, "Confirm Password", new { @class = "label" })
      <div class="control">
        @Html.PasswordFor(m => m.Confirm, new { @class = "input" })
      </div>
    </div>
    <button type="submit" class="button is-primary" id="signup">Sign Up</button>
  }
</div>


